<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentsTranslater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="bashClientPath" value="c:\rli-je-7.13.0\bin\RLICmd.bat"/>
    <add key="rootDirectory" value="c:\rli-je-7.13.0"/>
    <add key="globalSightLogin" value="catalystadmin"/>   
    <add key="globalSightPassword" value="password"/>    
  </appSettings>
  <applicationSettings>
    <DocumentsTranslater.Properties.Settings>
      <setting name="DocumentsTranslater_GlobalSight_AmbassadorService"
        serializeAs="String">
        <value>https://w21.globalsight.com/globalsight/services/AmbassadorWebService</value>
      </setting>
    </DocumentsTranslater.Properties.Settings>
  </applicationSettings>
</configuration>